<section class = "container_comment">
  <h2>Adicione um coment치rio</h2>
  <div class = "form">
    <%= form_with(model: [@article, @comment]) do |form| %>
      <% if current_user %>
        <p>Logado como: <%= current_user.name_user %></p>
      <% else %>
        <div class="field">
          <%= form.label :author_name, "Nome (opcional)" %>
          <%= form.text_field :author_name, placeholder: "Seu nome (opcional)" %>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :body, "Coment치rio" %>
        <%= form.text_area :body, placeholder: "Digite seu coment치rio aqui" %>
      </div>
      <div class="actions">
        <%= form.submit "Enviar Coment치rio" %>
      </div>
    <% end %>
  </div>
</section>
