<h1>Redefinir Senha</h1>

<%= form_with(model: @user, url: password_reset_path(@user.reset_password_token), method: :patch, local: true) do |form| %>

  <%= form.hidden_field :reset_password_token %>
  
  <div>
    <%= form.label :password, 'Nova Senha:' %>
    <%= form.password_field :password, required: true, autofocus: true %>
  </div>
  
  <div>
    <%= form.submit 'Redefinir Senha' %>
  </div>

<% end %>
