<!-- app/views/users/edit_password.html.erb -->
<h1>Alterar Senha</h1>

<%= form_with(model: @user, url: update_password_path, method: :patch) do |form| %>
  <%= form.label :password, 'Nova Senha' %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation, 'Confirmação de Senha' %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit 'Salvar' %>
<% end %>
