<section class = "show_container">
  <div class = "show">
    <h2 class = "title"><%= @article.title %></h2>
    <p class = "body" ><%= @article.body %></p>
  </div>

  <%= render "comment/form", comments: @comment %>

  <% if current_user %>
    <ul>
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
      <li><%= link_to "Destroy", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
    </ul>
  <% end %>

  <h2>Comentários</h2>
  <% if @article.comments.any? %>
    <% @article.comments.each do |comment| %>
      <p>
        <strong>Author:</strong>
        <%= comment.author_name %>
      </p>

      <p>
        <strong>Comentario:</strong>
        <%= comment.body %>
      </p>
    <% end %>
  <% else %>
    <p>Nenhum comentário</p>
  <% end %>
</section>

